 @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800;900&display=swap');

 *,
 *::after,
 *::before {
     box-sizing: border-box;
 }

 :root {
     --white: #ffffff;
     --darkBlue: #181d25;
     --blue: #222e37;
     --lightBlue: #475967;
     --offWhite: #bac5ce;
 }

 body {
     margin: 0;
     padding: 0;
     color: var(--white);
     background-color: var(--darkBlue);
     font-family: 'Nunito Sans', sans-serif;
 }

 i {
     cursor: pointer;
 }

 .hero-section {
     display: flex;
     flex-direction: column;
 }

 section.navbar {
     padding: 3rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .app-name {
     width: 200px;
 }

 .theme-toggler {
     display: flex;
     align-items: center;
     cursor: pointer;
 }

 .theme-toggler i {
     font-size: 1.8rem;
     color: var(--lightBlue);
     transition: color 0.2s ease-in-out;
 }

 .theme-toggler p {
     padding-inline-start: 0.5rem;
     color: var(--lightBlue);
     transition: color 0.2s ease-in-out;
     display: none;
 }

 .search-dropdown {
     display: flex;
     padding: 0 3rem;
     flex-direction: column;
     justify-content: space-between;
 }

 .search-bar {
     display: block;
     outline: transparent;
     padding: 1rem;
     border: 0;
     border-radius: 4px;
     background: var(--blue);
     color: var(--offWhite);
 }


 .search-bar::placeholder {
     color: var(--lightBlue);
 }

 select {
     cursor: pointer;
     padding: 1rem;
     border: 0;
     border-radius: 4px;
     outline: 0;
     margin-block-start: 2rem;
     background: var(--blue);
     color: var(--lightBlue);
 }

 section.countries {
     padding: 0 3rem 3rem 3rem;
 }

 .country-list {
     padding: 3rem 0;
     display: grid;
     gap: 2rem;
     grid-template-columns: 1fr;
 }

 .wordmark {
     display: block;
     margin: 5rem auto 0 auto;
     width: 280px;
     animation: spin 9s ease-in-out both infinite alternate 4s;
 }




 @keyframes spin {
     100% {
         transform: rotate(360deg);
     }
 }

 .country-card {
     background-color: var(--blue);
     color: var(--offWhite);
     border-radius: 4px;
     cursor: pointer;
     transition: fade-in 2s ease-in-out;
     transition: transform 0.2s ease-in-out;
 }




 @keyframes fade-in {
     0% {
         filter: brightness(0%);
     }

     100% {
         filter: brightness(100%);
     }
 }

 .country-card:hover {
     transform: scale(0.9);
 }

 .country-card img {
     display: block;
     margin: 0 auto;
     width: 100%;
     height: 160px;
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
     object-fit: cover;
 }

 .para {
     margin: 0;
     padding-inline-start: 1.5rem;
 }

 .country-name {
     padding-block: 1.5rem 0;
     font-weight: 800;
     font-size: 0.9rem;
     color: var(--white);
     text-transform: uppercase;
 }

 .country-capital {
     font-size: 0.9rem;
     padding-block: 0.5rem 0;
 }

 .country-population {
     font-size: 0.9rem;
     padding-block: 0 1.5rem;
 }

 .modal {
     display: none;
     position: fixed;
     padding: 3rem;
     height: fit-content;
     z-index: 2;
     top: 2rem;
     right: 0;
     bottom: 0;
     left: 0;
     margin: 3rem;
     background-color: var(--darkBlue);
     border-radius: 4px;
 }

 .modal-body {
     display: grid;
     align-items: center;
     gap: 3rem;
     grid-template-columns: 1fr;
 }


 .modal-body div {
     padding: 0;
     margin: -1rem 0 0 0;
 }

 .modal-name {
     padding-block: 1.5rem 0;
     margin: 0;
     line-height: 2.3rem;
     font-weight: 800;
     font-size: 2rem;
     color: var(--offWhite);
     text-transform: uppercase;
 }

 .modal-capital,
 .modal-population,
 .modal-region,
 .modal-subregion,
 .modal-timezone {
     margin: 0;
     font-size: 1rem;
     padding-block: 0.5rem 0;
     color: var(--lightBlue);
 }

 .cancel {
     display: flex;
     justify-content: end;
 }

 .cancel-btn {
     font-size: 2rem;
     padding: 1rem 0 1rem 1rem;
 }

 .flag {
     width: 100%;
     height: fit-content;
     border-radius: 4px;
 }

 .overlay {
     display: none;
     height: 100%;
     position: fixed;
     z-index: 1;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     opacity: 0.9;
     background-color: var(--lightBlue);
 }





 .light-body-theme {
     background-color: var(--white);
 }

 .light-form-theme {
     background-color: var(--lightBlue);
     color: var(--offWhite);
 }

 .light-form-theme::placeholder {
     color: var(--offWhite);
 }

 .light-search-select-bg {
     background-color: transparent;
 }















 /******* Responsive Design *******/


 @media(min-width: 400px) {
     .country-card img {
         width: 100%;
         height: 200px;
     }
 }


 @media(min-width: 600px) {
     .theme-toggler p {
         display: block;
     }

     .country-list {
         grid-template-columns: repeat(2, 1fr);
     }

     .wordmark {
         width: 340px;
     }

     .country-card img {
         width: 100%;
         height: 180px;
     }
 }


 @media(min-width: 900px) {
     .hero-section {
         flex-direction: column-reverse;
     }

     section.navbar {
         padding: 3rem;
     }

     .app-name {
         width: 180px;
     }

     .search-dropdown {
         flex-direction: row;
         justify-content: center;
         background-color: var(--lightBlue);
         padding: 8rem 3rem;
     }

     .search-bar {
         width: 40%;
         margin-inline-end: 1rem;
         background-color: var(--darkBlue);
     }

     select {
         background-color: var(--darkBlue);
         margin: 0;
     }

     .country-list {
         grid-template-columns: repeat(3, 1fr);
     }

     .wordmark {
         margin: -6rem auto 0 auto;
         width: 400px;
     }

     .light-body-theme {
         background-color: var(--white);
     }

     .light-form-theme {
         background-color: var(--lightBlue);
         color: var(--offWhite);
     }

     .light-form-theme::placeholder {
         color: var(--offWhite);
     }

     .light-search-select-bg {
         background-color: var(--blue);
     }

 }


 @media(min-width: 1140px) {
     .country-list {
         grid-template-columns: repeat(4, 1fr);
     }

     .modal {
         margin: 6rem 10rem 10rem 10rem;
     }

     .modal-body {
         grid-template-columns: repeat(2, 1fr);
         padding-block: 0 4rem;
     }

     .modal-name {
         padding-block: 1.5rem 0;
         line-height: 3rem;
         font-weight: 800;
         font-size: 2.5rem;
         color: var(--offWhite);
         text-transform: uppercase;
     }

     .modal-capital,
     .modal-population,
     .modal-region,
     .modal-subregion,
     .modal-timezone {
         font-size: 1rem;
         padding-block: 0.5rem 0;
         color: var(--lightBlue);
     }
 }