@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    box-sizing: inherit;
    --dark: #2b3144;
    --lightDark: #383f57;
    --deepDark: #232736;
    --white: #ffffff;
    --my-gradient: linear-gradient(45deg, darkred 20%, crimson, darkorange 60%, gold, bisque);
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--dark);
    padding: 2rem;
    display: grid;
    height: 90vh;
    align-items: center;
}

main {
    display: grid;
    height: 100vh;
    align-items: center;
}

.wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    padding: 2rem 1.5rem;
    height: auto;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    background-color: var(--lightDark);
    color: var(--white);
}

.user-image {
    display: block;
    margin: 0 auto;
    width: 100px;
    object-fit: cover;
    background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(45deg, #8A2387, #F27121) border-box;
    border: 3px solid transparent;
    border-radius: 50px;
}

.name {
    padding: 0;
    font-size: 1.2rem;
    margin: 1.2rem 0 0.7rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gender {
    font-size: 0.8rem;
    text-transform: capitalize;
}

.email,
.date-of-birth {
    margin: 0;
    padding-block: 0.1rem;
    font-size: 0.7rem;
}

.country {
    margin: 0;
    font-size: 0.8rem;
    padding-block-start: 1rem;
}

.generate-user {
    display: block;
    margin: 2rem auto;
    background-color: var(--lightDark);
    color: var(--white);
    border-radius: 4px;
    border: 0;
    padding: 0.8rem 1.5rem;
    transition: 0.4s ease-in-out;
}

.generate-user:hover {
    cursor: pointer;
    transition: 0.4s ease-in-out;
    background-color: var(--deepDark);
    background: linear-gradient(45deg, #8A2387, #F27121) border-box;
}



@media (max-width: 960px) {
    .name {
        font-size: 0.9rem;
    }
}


@media (max-width: 780px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .name {
        font-size: 0.8rem;
    }
}